<div class="famous-remark text-dark font-italic">
  <blockquote class="text-justify">
    <p>Do not, for one repulse, forgo the purpose that you resolved to effort.</p>
    <footer class="blockquote-footer">Shakespeare</footer>
  </blockquote>
        
  <blockquote class="text-justify">
    <p>The man who has made up his mind to win will never say " Impossible"</p>
    <footer class="blockquote-footer">Napoleon</footer>
  </blockquote>
  
  <blockquote class="text-justify">
    <p> If you do not learn to think when you are young, you may never learn</p>
    <footer class="blockquote-footer">Edison</footer>
  </blockquote>
</div>