<!--<p>{{ .Summary }}</p>-->
    {{ with .Description }}
      {{ $.Scratch.Set "summary" (markdownify .) }}
    {{ else }}
      {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate (default 200 .Site.Params.summary_length) (default " &hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
    {{ end }}
    {{ $.Scratch.Get "summary" }}
{{ if .Truncated }}
  <footer>
    <a  href="{{ .RelPermalink }}">Continue Reading</a>
  </footer>
{{ end }}