  <div class="col-md-3 d-none d-lg-block">
    <div class="aside px-4">
      <div class="base-info">
        <h3>{{ .Site.Title }}</h3>
        {{ with .Site.Params.bio }}
          <em class="text-center text-muted font-weight-bold">{{ . }}</em>
        {{ end }}
      </div>
      
      {{ if (len $.Site.Taxonomies.tags) }}
        <h3>Tags</h3>
        {{ range .Site.Taxonomies.tags }}
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        {{ end }}
      {{ end }}
    </div>  <!-- aside -->
  </div> <!-- col-md-3 -->