  <footer class="footer">
    <p class="text-center">
      {{ with .Site.Params.copyright }}
      {{ . | markdownify }}
      {{ end }}
    </p>
  </footer>
  
  <!-- highlight -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/r.min.js"></script>
  <!--mathjax-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  <script>
    hljs.configure({languages: []});
    hljs.initHighlightingOnLoad();
  </script>
  
  </body>
</html>
